table {
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  font-size: 14pt;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
